<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tab/contact-tab"></ion-back-button>
      </ion-buttons>
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-title>{{name}}</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true" [fullscreen]="true" data-theme="winter">
  <div class="ion-padding h">
    <section id="message-container" style="overflow-y: scroll">
      <div *ngFor="let mess of messages">
        <div
          [ngClass]="mess.sender._id === hold.id? 'chat chat-end':'chat chat-start'"
        >
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img
                *ngIf="mess.sender.isAvatar"
                alt="Silhouette of a person's head"
                [src]="mess.sender.avatar"
              />
              <img
                *ngIf="!mess.sender.isAvatar"
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </div>
          </div>
          <div class="chat-header">
            <time className="text-xs opacity-50">12:45</time>
          </div>
          <div
            [ngClass]="mess.sender._id === hold.id ? 'chat-bubble': 'chat-bubble chat-bubble-primary'"
          >
            {{mess.message}}
          </div>
          <!-- <div className="chat-footer opacity-50">Delivered</div> -->
        </div>
      </div>
    </section>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-textarea
        placeholder="Type something here"
        [(ngModel)]="message"
        [autoGrow]="true"
        (keyup.enter)="send()"
      >
      </ion-textarea>
      <ion-buttons>
        <ion-button color="secondary" shape="round" (click)="send()"
          ><ion-icon
            style="font-size: 1.5rem; font-weight: bolder"
            name="send-outline"
          ></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>
