<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-buttons>
        <ion-back-button defaultHref="/contact-tab"></ion-back-button>
      </ion-buttons>
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-title>{{name}}</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true" [fullscreen]="true" data-theme="dark">
  <div class="ion-padding h">
    <section id="message-container" style="overflow-y: scroll">
      <div className="chat chat-start">
        <div className="chat-image avatar">
          <div className="w-10 rounded-full">
            <img src="" />
          </div>
        </div>
        <div className="chat-header">
          Obi-Wan Kenobi
          <time className="text-xs opacity-50">12:45</time>
        </div>
        <div className="chat-bubble">You were the Chosen One!</div>
        <div className="chat-footer opacity-50">Delivered</div>
      </div>
      <div className="chat chat-end">
        <div className="chat-image avatar">
          <div className="w-10 rounded-full">
            <img src="" />
          </div>
        </div>
        <div className="chat-header">
          Anakin
          <time className="text-xs opacity-50">12:46</time>
        </div>
        <div className="chat-bubble">I hate you!</div>
        <div className="chat-footer opacity-50">Seen at 12:46</div>
      </div>
    </section>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-textarea placeholder="Type something here" [autoGrow]="true">
      </ion-textarea>
      <ion-buttons>
        <ion-button color="secondary" shape="round"
          ><ion-icon
            style="font-size: 1.5rem; font-weight: bolder;"
            name="send-outline"
          ></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>
