.ios ion-textarea{
    --padding-bottom: 0;
    --padding-top: 24px;
    --padding-start: 0;
    --padding-end: 0;
  }
  
  ion-textarea{
    --padding-bottom: 0;
    --padding-top: 17px;
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-buttons{
    margin: 0;
    margin-right: 10px;
  }
