<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/tab/list" routerLink="/tab/list"></ion-back-button>
      </ion-buttons>
      <ion-avatar class="avatar" slot="start">
        <img lazy *ngIf="!haveAvatar" alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <img lazy *ngIf="haveAvatar" alt="Silhouette of a person's head" [src]="profile" />
      </ion-avatar>
      <ion-label slot="start">{{name}}
        <p *ngIf="type === 'group'">users</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="secondary">
          <ion-icon style="font-size: 1.3rem" name="call"></ion-icon>
        </ion-button>
        <ion-button color="secondary">
          <ion-icon style="font-size: 1.5rem" name="videocam"></ion-icon>
        </ion-button>
        <ion-button color="secondary">
          <ion-icon style="font-size: 1.5rem" name="information-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true" [fullscreen]="true" data-theme="emerald">
  <div class="ion-padding h">
    <section id="message-container" style="overflow-y: scroll">
      <!-- <div class="chat chat-start">
        <div class="chat-bubble">
          <div class="chat-header space-x-2 flex justify-start">
            <time class="text-xs opacity-50">belco gee</time>
          </div>
          It's over Anakin, <br />I have the high ground.
          <div class="chat-header space-x-2 flex justify-end">
            <time class="text-xs opacity-50">11:45</time>
          </div>
        </div>

      </div> -->
      <ion-infinite-scroll position="top"  (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content loadingText="Loading more messages..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
      <div *ngFor="let mess of message$ | async">
        <div [ngClass]="mess.sender._id === hold.id? 'chat chat-end':'chat chat-start'">
          <div [style]="mess.file && !mess.message ? 'padding: 0.2rem;': 'padding: 0.2rem;'"
            [style]="mess.file && mess.message ? 'padding: 0.3rem;': 'padding: 0.2rem;'"
            [style]="mess.message  && !mess.isFile ? 'padding: 0.6rem;': 'padding: 0.2rem;'"
            [ngClass]="mess.sender._id !== hold.id ? 'chat-bubble': 'chat-bubble chat-bubble-secondary'">
            <div
              [ngClass]="mess.recipient_type === 'group' ? 'chat-header space-x-2 flex justify-between': 'chat-header space-x-2 flex justify-start'">
              <time class="text-xs opacity-60 font-bold mb-2"
                *ngIf="mess.recipient_type === 'group'">{{mess.sender.name}}</time>
              <time class="text-xs opacity-60 font-bold mb-2 flex-end"
                *ngIf="mess.recipient_type === 'group'">0{{mess.sender.cellphone}}</time>
            </div>
            <img *ngIf="mess.isFile" lazy lazy class="w-full mb-2" style="width: 300px; border-radius: 16px"
              [src]="mess.file" />
            {{mess.message}}
            <div class="chat-header space-x-2 flex justify-end relative">
              <time class="text-xs opacity-60 px-2">{{trans.transform(mess.createdAt)}}</time>
            </div>
          </div>
        </div>
      </div>


      <!-- <div *ngFor="let mess of message$ | async">
        <div [ngClass]="mess.sender._id === hold.id? 'chat chat-end':'chat chat-start'">

          <div [style]="mess.file ? 'padding: 2px;': ''"
            [ngClass]="mess.sender._id !== hold.id ? 'chat-bubble': 'chat-bubble chat-bubble-info'">
            <div class="chat-header space-x-2 flex justify-between" *ngIf="!mess.isFile">
              <span class="text-xs opacity-50" *ngIf="mess.recipient_type === 'group'">{{mess.sender.name}}</span>
              <time class="text-xs opacity-50">{{trans.transform(mess.createdAt)}}</time>
            </div>
            <img *ngIf="mess.isFile" lazy style="width: 300px; border-radius: 15px" [src]="mess.file" />
            <span class="w-full" [style]="mess.isFile && mess.message ? 'padding: 10px;': ''">
              {{mess.message}}
            </span>
          </div>
        </div>
      </div> -->
    </section>
  </div>
</ion-content>

<ion-footer [translucent]="false">
  <div *ngIf="isFile" class="flex justify-start flex-row w-full">
    <div *ngFor="let item of image$ | async">
      <ion-thumbnail>
        <ion-img [src]="item.webviewPath"></ion-img>
      </ion-thumbnail>
    </div>
  </div>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-button color="secondary" (click)="addPhoto()">
          <ion-icon style="font-size: 1.5rem; font-weight: bolder" name="camera"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-textarea placeholder="Type something here" [(ngModel)]="message" [autoGrow]="true" (keyup.enter)="send()">
      </ion-textarea>
      <ion-buttons>
        <ion-button color="secondary" shape="round" (click)="send()">
          <ion-icon style="font-size: 1.5rem; font-weight: bolder" name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>