
<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="list">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        Chats
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </ion-tab-button>
      <ion-tab-button tab="contacts">
        <ion-icon name="file-tray-full-outline"></ion-icon>
        Contacts
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>