<!-- <ion-item class="px-5" lines="none"><ion-searchbar show-clear-button="focus"></ion-searchbar></ion-item>

<ion-item>
  <ion-label>Country</ion-label>
  <ion-select [(ngModel)]="selectedCountry" (ionChange)="onCountryChange()">
    <ion-select-option *ngFor="let country of countries" [value]="country">
      {{country.name}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Phone Number</ion-label>
  <ion-input [(ngModel)]="phoneNumber" [placeholder]="mask" (input)="onPhoneNumberInput()"
    (keyup.enter)="onPhoneNumberEnter()"></ion-input>
</ion-item> -->

<!-- <ion-item>
  <ion-label>Country</ion-label>
  <ion-select [(ngModel)]="selectedCountry" (ionChange)="onCountryChange()">
    <ion-select-option *ngFor="let country of countries" [value]="country">
      {{country.name}}</ion-select-option>
  </ion-select>
</ion-item> -->

<!-- <div class="form-control">
  <label class="label">
    <span class="label-text">Your Email</span>
  </label>
  <label class="input-group">
    <span class="p-0 w-40"><select [(ngModel)]="selectedCountry" (onchange)="onCountryChange()" class="select w-full">
        <option *ngFor="let country of countries" [value]="country">{{country.code}}</option>
      </select></span>
    <input type="text" [(ngModel)]="phoneNumber" [placeholder]="mask" (input)="onPhoneNumberInput()" [placeholder]="mask" class="input input-bordered w-full" />
  </label>
</div> -->


  <!-- <p-inputMask mask="(999) 999-9999" [(ngModel)]="phoneNumber" placeholder="(999) 999-9999"></p-inputMask> -->