<ion-card>
  <ion-card-header>
    <ion-list [inset]="true">
      <ion-item [button]="true" [detail]="false" id="select-country">
        <ion-label>Select your country</ion-label>
        <div slot="end" class="text-blue-300/100" id="selected-country">
          {{ selectedCountry.name }}
        </div>
      </ion-item>
    </ion-list>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <div class="grid p-fluid">
      <div class="col-12 md:col-6 lg:col-4">
        <span>Cellphone number</span>
        <p-inputMask
          [mask]="selectedCountry.mask"
          [placeholder]="selectedCountry.mask"
          [(ngModel)]="cellphone"
          (onInput)="cellphoneChange()"
        >
        </p-inputMask>
      </div>
    </div>
  </ion-card-header>
</ion-card>

<ion-modal trigger="select-country" #modal>
  <ng-template>
    <app-typeahead
      class="ion-page"
      title="Select your country"
      [items]="countries"
      [selectedItems]="selectedCountry"
      (selectionChange)="countrySelection($event)"
      (selectionCancel)="modal.dismiss()"
    ></app-typeahead>
  </ng-template>
</ion-modal>


<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="onSubmit()">
    <ion-icon name="caret-forward-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>