.add {
  position: absolute;
  margin-top: 40px;
  margin-left: 45px;
  border: 1px solid white;
  border-radius: 100vw !important;
}

.ios .add {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid white;
  border-radius: 100vw !important;
}

.st {
  position: static;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mv {
  margin-bottom: -5rem !important;
  border: 1px solid white;
  border-radius: 100vw !important;
}

.ios .mv {
  margin-bottom: -0.5rem !important;
  border: 1px solid white;
  margin-right: -3.5rem !important;
  border-radius: 100vw !important;
}

.added {
  margin-top: 1rem !important;
  border: 1px solid white;
  margin-left: -1rem;
  border-radius: 100vw !important;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #3dc2ff;
}

.sticky-header-colored {
  background-color: blue !important;
  color: white !important;
}
