<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Select contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="st" lines="none" detail="false" button id="open-modal-11">
      <ion-icon name="people" slot="start" color="primary"></ion-icon>
      <ion-label>New group</ion-label>
    </ion-item>
    <ion-item lines="none" detail="false" button>
      <ion-icon name="person-add" slot="start" color="primary"></ion-icon>
      <ion-label>New contact</ion-label>
    </ion-item>
  </ion-list>
  <app-contacts></app-contacts>

  <ion-modal trigger="open-modal-11" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()" color="danger">Cancel</ion-button>
          </ion-buttons>
          <ion-title class="text-center">New group</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" color="primary" [strong]="true"
              >Create</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div class="flex justify-center mb-6 mt-6">
          <ion-avatar class="avatar">
            <img
              *ngIf="!file"
              alt="not"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
            <img *ngIf="file" [src]="dataUrl" />
            <ion-icon
              class="add bg-base-100"
              (click)="openFileBrowser()"
              button
              color="primary"
              style="font-size: 1.5rem"
              name="add-circle"
            ></ion-icon>
          </ion-avatar>
        </div>
        <ion-item lines="none">
          <ion-label position="stacked">Name</ion-label>
          <ion-input
            type="text"
            placeholder="Group name"
            [(ngModel)]="name"
            maxLength="30"
          ></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea
            [autoGrow]="true"
            type="text"
            placeholder="Group description"
            [(ngModel)]="desc"
            maxLength="150"
          ></ion-textarea>
        </ion-item>

        <!-- <pre>{{selectedContacts | json}}</pre> -->
        <div class="flex overflow-x-scroll sticky">
          <div
            class="flex-shrink-0 m-2 w-20"
            *ngFor="let item of selectedContacts"
          >
            <ion-icon
              name="close-circle"
              class="relative text-2xl ml-10 bg-base-100 z-10 mv"
              (click)="removeItem(item)"
              color="warning"
            ></ion-icon>
            <ion-avatar slot="start" class="avatar">
              <img
                [src]="
                item.db.isAvatar
                  ? item.db.avatar
                  : 'https://ionicframework.com/docs/img/demos/avatar.svg'
              "
              />
            </ion-avatar>

            <div class="w-18 text-center overflow-hidden mt-4">
              <p class="text-gray-700 text-sm font-medium truncate">
                {{ item.name.display }}
              </p>
            </div>
          </div>
        </div>

        <!-- <div class="flex  overflow-x-scroll sticky-header">
          <div
            class="flex-shrink-0 m-2 w-20"
            *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]"
          >
            <ion-icon
              name="close-circle"
              class="relative text-2xl ml-10 bg-base-100 z-10 mv"
              color="danger"
            ></ion-icon>
            <ion-avatar slot="start" class="avatar">
              <img
                src=
               'https://ionicframework.com/docs/img/demos/avatar.svg'
              
              />
            </ion-avatar>

            <div class="w-18 text-center overflow-hidden mt-4">
              <p class="text-gray-700 text-sm font-medium truncate">
               belco
              </p>
            </div>
          </div>
        </div> -->

        <ion-list>
       
            <!-- <ion-item
              lines="none"
              detail="false"
              button
              *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]"
            >
              
              <ion-avatar slot="start" class="avatar">
                <img
                  src=
                  'https://ionicframework.com/docs/img/demos/avatar.svg'
                
                />
                <ion-icon
                name="checkmark-circle-sharp"
                class="relative text-2xl bg-base-100 z-50 added"
                color="success"
              ></ion-icon>
              </ion-avatar>
              <ion-label>
                name
                <p>0234123412</p>
              </ion-label>
            </ion-item> -->
  
          <!-- <pre>{{contactToChoseOn | json}}</pre> -->
          <div *ngIf="contactToChoseOn.length > 0">
            <ion-text class="px-2 m-3">Contants on Metto</ion-text>
            <ion-item
              lines="none"
              detail="false"
              button
              *ngFor="let item of contactToChoseOn"
              (click)="addItem(item)"
            >
              <ion-icon
                name="checkmark-circle-sharp"
                class="relative text-2xl bg-base-100 z-50 added"
                color="success"
                (click)="removeItem(item)"
              ></ion-icon>
              <ion-avatar slot="start" class="avatar">
                <img
                  [src]="
                    item.db.isAvatar
                      ? item.db.avatar
                      : 'https://ionicframework.com/docs/img/demos/avatar.svg'
                  "
                />
              </ion-avatar>
              <ion-label>
                {{ item.name.display }}<span
                  *ngIf="hold.cellphone === item.db.cellphone"
                  >(me)</span
                >
                <p>{{ item.phone.number }}</p>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>

        <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button
            color="secondary"
            [routerLink]="['/new-chat']"
            routerLinkActive="new-chat"
          >
            <ion-icon name="chatbubble-ellipses"></ion-icon>
          </ion-fab-button>
        </ion-fab> -->
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
