<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Select contact</ion-title>
    <ion-progress-bar
      *ngIf="contacts.length < 1 && notRegistered.length < 1"
      type="indeterminate"
      color="danger"
    ></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" class="z-10" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item lines="none" detail="false" button id="open-modal-11">
      <ion-icon name="people" slot="start" color="primary"></ion-icon>
      <ion-label>New group</ion-label>
    </ion-item>

    <ion-item lines="none" detail="false" button>
      <ion-icon name="person-add" slot="start" color="primary"></ion-icon>
      <ion-label>New contact</ion-label>
    </ion-item>
    <div>
      <!-- <pre>{{contacts| json}}</pre> -->
      <ion-text class="px-2 m-3">Contants on Metto</ion-text>
      <!-- <pre>{{contacts$ | async | json}}</pre> -->
      <ion-item
        lines="none"
        detail="false"
        button
        *ngFor="let item of contacts$ | async"
      >
      
        <ion-avatar slot="start" class="avatar">
          <img [src]="item.db.isAvatar ? item.db.avatar: 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
        </ion-avatar>
        <ion-label
          >{{item.name.display}}
          <p>{{item.db.cellphone}}</p>
        </ion-label>
      </ion-item>
    </div>

    <div>
      <ion-text class="px-2 m-3">Contants not in Metto</ion-text>
      <!-- <pre>{{notRegistered | json}}</pre> -->
      <ion-item
        lines="none"
        detail="false"
        button
        *ngFor="let item of notRegistered"
      >
      
        <ion-avatar slot="start" class="avatar">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label
          >{{item.name.display}}
          <p>{{item.phones?.[0]?.number}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-modal trigger="open-modal-11" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()" color="danger">Cancel</ion-button>
          </ion-buttons>
          <ion-title>New group</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" color="primary" [strong]="true"
              >Create</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="flex justify-center mb-4">
          <ion-avatar class="avatar">
            <img
              *ngIf="!file"
              alt="not"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            />
            <img *ngIf="file" [src]="dataUrl" />
            <ion-icon
              class="add"
              (click)="openFileBrowser()"
              button
              color="primary"
              style="font-size: 1.5rem"
              name="add-circle"
            ></ion-icon>
          </ion-avatar>
        </div>
        <ion-item lines="none">
          <ion-label position="stacked">Name</ion-label>
          <ion-input
            type="text"
            placeholder="Your name"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea
            [autoGrow]="true"
            type="text"
            placeholder="Your name"
            [(ngModel)]="desc"
          ></ion-textarea>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
