<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancelChanges()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmChanges()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="searchbarInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-list id="modal-list" [inset]="true">
    <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="workingSelectedValues">
    <ion-item *ngFor="let item of filteredItems; trackBy: trackItems">
      <ion-avatar slot="start" class="avatar">
        <img src="{{ item.flag}}" alt="{{item.name}}"/>
      </ion-avatar>
      <ion-label>{{ item.name }}</ion-label>
      <ion-radio
        [value]="item" 
      ></ion-radio>
    </ion-item>
  </ion-radio-group>
  </ion-list>
</ion-content>
