<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Signin</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="center">


    <ion-card class="ion-padding">
      <!-- <ion-card-title>
        Signin
      </ion-card-title> -->

      <ion-card-content>
        <ion-progress-bar *ngIf="load$ |async" type="indeterminate"></ion-progress-bar>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <ul class="steps mt-5">
            <li [ngClass]="step === 1? 'step step-info': 'step step-info'"></li>
            <li [ngClass]="step === 2? 'step step-info': 'step'"></li>
          </ul>

          <ng-container *ngIf="step === 1">
            <!-- form step 1 content -->
            <div *ngIf="f['cellphone'].touched && f['cellphone'].invalid" class="alert alert-danger mb-1 mt-2">
              <div *ngIf="f['cellphone'].errors && f['cellphone'].errors['required']">Cellphone is required.</div>
              <div *ngIf="f['cellphone'].dirty && f['cellphone']errors">Phone number must be 10 numbers. </div>
            </div>

            <ion-item counter="true">
              <ion-label position="floating">Cellphone</ion-label>
              <ion-input maxlength="10" (keypress)="keyPress($event)" formControlName="cellphone" type="tel"
                placeholder="e.g 0712348888"></ion-input>
            </ion-item>
            <ion-button type="button" (click)="nextStep()" [disabled]="userForm.get('cellphone')?.invalid">Next</ion-button>
          </ng-container>
        
          <ng-container *ngIf="step === 2">
            <!-- form step 2 content -->

            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger  mb-1 mt-2">
              <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
              <div *ngIf="f['password'].dirty && f['password'].errors">Please, enter at lease 6 characters.</div>
            </div>

            <ion-item class="mb-5">
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
            </ion-item>

            <ion-button type="button" (click)="prevStep()">Previous</ion-button>
            <ion-button [disabled]="!userForm.valid" type="submit">Login</ion-button>
          </ng-container>
        </form>

        <ion-text>Already have an account <a [routerLink]="['/register']">signup</a></ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>