<ion-content [scrollY]="true">
  <ion-refresher slot="fixed" class="z-10" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <!-- skeleton loading -->
    <div *ngIf="loading$ |async">
      <ion-item
        detail="false"
        *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]"
      >
        <!-- avatar -->
        <ion-avatar class="avatar" slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"
          ></ion-skeleton-text>
          <div class="flex opacity-50">
            <!-- checkmark -->
            <ion-skeleton-text
              [animated]="true"
              style="width: 5%"
            ></ion-skeleton-text>
            <!-- message -->
            <ion-skeleton-text
              [animated]="true"
              style="width: 60%"
            ></ion-skeleton-text>
          </div>
        </ion-label>
      </ion-item>
    </div>

    <!-- retreived data -->

    <!-- <pre>{{newh | json}}</pre> -->
    <div *ngIf="contacts.length > 0">
      <!-- <pre>{{contacts| json}}</pre> -->
      <ion-text class="px-2 m-3">Contants on Metto</ion-text>
      <!-- <pre>{{contacts$ | async | json}}</pre> -->
      <ion-item
        lines="none"
        detail="false"
        button
        *ngFor="let item of contacts"
        [routerLink]="['/message', item.db._id, item.name.display, 'user']"
      >
        <ion-avatar slot="start" class="avatar">
          <img
            [src]="
              item.db.isAvatar
                ? item.db.avatar
                : 'https://ionicframework.com/docs/img/demos/avatar.svg'
            "
          />
        </ion-avatar>
        <ion-label
          >
          {{ item.name.display }}<span *ngIf="hold.cellphone === item.db.cellphone">(me)</span>
          <p>+27{{ item.db.cellphone }}</p>
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="notRegistered.length > 0">
      <ion-text class="px-2 m-3">Contants not in Metto</ion-text>
      <!-- <pre>{{notRegistered | json}}</pre> -->
      <ion-item
        lines="none"
        detail="false"
        button
        *ngFor="let item of notRegistered"
      >
        <ion-avatar slot="start" class="avatar">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label
          >{{ item.name.display }}
          <p>{{item.phones?.[0]?.number}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
