<ion-header>
  <ion-toolbar color="secondary">
    <ion-item color="secondary" lines="none">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/tab"></ion-back-button>
      </ion-buttons>
      <ion-label slot="start" class="text-2xl font-bold">{{me.name}} </ion-label>

      <ion-buttons slot="end">
        <ion-button *ngIf="created_by === hold.id">
          <ion-icon class="font-extrabold" style="font-size: 1.5rem" name="add"></ion-icon>
        </ion-button>
        <ion-button *ngIf="created_by === hold.id">
          <ion-icon class="font-bold" style="font-size: 1.5rem" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!-- skeleton loading card -->
  <ion-card class="mt-6" *ngIf="!me">
    <ion-skeleton-text [animated]="true" class="sk"></ion-skeleton-text>
    <ion-card-header>
      <ion-item lines="none">
        <ion-label>
          <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 40%"></ion-skeleton-text>
        </ion-label>
        <ion-text>
          <ion-skeleton-text [animated]="true" style="height: 30px; width: 30px"></ion-skeleton-text>
        </ion-text>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <!-- info card -->
  <div>
    <ion-card class="mt-6" *ngIf="type === 'group'">
      <img *ngIf="!me.isAvatar" lazy src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      <img lazy alt="Silhouette of a person's head" *ngIf="me.isAvatar" [src]="me.avatar" />
      <ion-card-header>
        <ion-card-title>
          <p class="text-2xl font-bold">{{me.name}}</p>
        </ion-card-title>
        <ion-card-subtitle>{{me.description}}
          <p>Admin - {{me.created_by?._id === hold.id ? 'You' : me.created_by?.name}}</p>
          <p>Group - {{member.length === 1 ? member.length + ' participant' : member.length + ' participants'}}</p>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="mt-6" *ngIf="type === 'user'">
      <img *ngIf="!me.isAvatar" lazy src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      <img lazy alt="Silhouette of a person's head" *ngIf="me.isAvatar" [src]="me.avatar" />
      <ion-card-header>
        <ion-item lines="none">
          <ion-label>
            {{me.name}}
            <p *ngIf="me.cellphone">{{me.cellphone}}</p>
          </ion-label>
        </ion-item>
      </ion-card-header>

    </ion-card>

    <ion-card *ngIf="type === 'group'">
      <ion-card-header>
        <ion-card-title>{{member.length === 1 ? member.length + ' participant' : member.length + '
          participants'}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none" detail="false" *ngFor="let item of member">
          <ion-avatar slot="start" class="avatar">
            <img
              [src]="item.user.isAvatar ? item.user.avatar:  'https://ionicframework.com/docs/img/demos/avatar.svg'" />
          </ion-avatar>
          <ion-label>
            {{item.group.created_by === hold.id && item.user._id === hold.id? 'You' : item.user.name}} <p>
              {{item.user._id === created_by ? 'Admin': ''}}</p>
          </ion-label>

          <ion-buttons slot="end" *ngIf="created_by === hold.id && item.user._id !== hold.id">
            <ion-button color="warning"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>

    </ion-card>

    <ion-card *ngIf="type === 'group'">
      <ion-card-content>
        <ion-button color="danger" expand="block"><ion-icon name="exit-outline" slot="start"></ion-icon>Leave the
          group</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="type === 'group'">
      <ion-card-content>
        <ion-button color="danger" expand="block"><ion-icon name="exit-outline" slot="start"></ion-icon>Delete the
          group</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>