<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      METTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Metto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <img loading="lazy" src="https://res.cloudinary.com/dqgb5h17l/image/upload/v1676324455/chatpp/chatbubble_t0vhil.png"/>
    <ion-button routerLink="/login">Talk with your people<ion-icon name="caret-forward"></ion-icon>
    </ion-button>
  </div>

  <div class="flex flex-col-reverse opacity-20">
    <div class="text-center p-2 absolute bottom-0"> Provided by Belco</div>
    <div class="text-center p-2 absolute bottom-4">Metto</div>
  </div>
  
</ion-content>